::-webkit-scrollbar {
    background-color: #323437;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #646669;
}

body {
    background-color: #323437;
    color: #D1D0C5;
    font-size: medium;
}

#main {
    width: 600px;
    height: 420px;
    overflow-y: scroll;
}

a {
    color: #D1D0C5;
    text-decoration-color: #D1D0C5;
}

td, th {
    padding-right: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#slider li {
    display: inline;
    padding: 10px 20px;
    border-radius: 25px;
}

#slider li.hidden {
    display: none;
}

#slider li:hover, .active {
    background-color: #27282b;
    transition-duration: 250ms;
}

.active {
    background-color: #2b2c30;
}

.hidden {
    display: none;
}

#stats-table button {
    border: none;
    background: none;
    color: #D1D0C5;
    font-size: medium;
}

#stats-table button:hover {
    font-weight: bold;
}

.setting input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

label {
    position: relative;
    display: block;
    padding-left: 30px;
    cursor: pointer;
}

label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 20px;
    width: 20px;
    background-color: #D1D0C5;
    border-radius: 3px;
}

label:hover:before {
    background-color: #aaa;
}

label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #333;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 0;
}

input:checked + label:after {
    opacity: 1;
}